<%= partial 'partials/button', locals: { css_class: '$modifier_class', text: 'Button' } %>
<a class="btn$modifier_class">Link button</a>
<input type="submit" class="btn$modifier_class" value="Submit button" />
