// Styleguide Theme
$background: #eaeaea;
$color-link: #17c;
$color-link-hover: #a53;
$color-primary: #333;
$color-accent: #e1e1e1;

$header-background: linear-gradient(top, #3e3e3e, #2e2e2e);
$header-link-color: lighten($color-primary, 40%);
$header-active-link-color: #fff;

$font-body: 'Helvetica Neue', sans-serif;
